@model IEnumerable<Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Leader
            </th>
            <th>
                Project
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var team in Model) {
        <tr>
            <td>
               @team.Name
            </td>
            <td>
                @team.Leader.FirstName @team.Leader.LastName
            </td>
            <td>
                @if (team.ProjectId.HasValue)
                {
                     @team.Project.Name   
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@team.Id" class="text-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@team.Id" class="text-info">Details</a> |
                <form asp-action="Delete" asp-route-id="@team.Id" class="delete-button">
                    <input class="text-danger" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
